

<!DOCTYPE html>
<html lang="en">

<head>
 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>friendship radio rodeo</title>
    <link rel="shortcut icon" href="https://friendshipradio.rodeo/miniaoon.ico">
    <meta name="description" content="Friendship Radio Rodeo coming soon... ">

    <!-- The style.css file allows you to change the look of your web pages.
         If you include the next line in all your web pages, they will all share the same look.
         This makes it easier to make new pages for your site. -->
    <link href="https://friendshipradio.rodeo/rstyle.css" rel="stylesheet" type="text/css" media="all">

<script type="text/javascript" async="" charset="utf-8" src="https://www.gstatic.com/recaptcha/releases/N67nZn4AqZkNcbeMu4prBgzg/recaptcha__en.js" crossorigin="anonymous" integrity="sha384-8HATTPUsU/SjrV9KR44/tgBG8Czia5FPTCnvn3iAGBsMsUqgy9L0h45QhvFE9aql"></script><script async="" src="https://chimpstatic.com/mcjs-connected/js/users/fa0c106df2663890887c790b6/19d695def24aef08beaf5d640.js"></script><script async="" src="https://chimpstatic.com/mcjs-connected/js/users/fa0c106df2663890887c790b6/19d695def24aef08beaf5d640.js"></script><script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/fa0c106df2663890887c790b6/19d695def24aef08beaf5d640.js");</script>


<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/fa0c106df2663890887c790b6/19d695def24aef08beaf5d640.js");</script>

<style>:is([id*='google_ads_iframe'],[id*='taboola-'],.taboolaHeight,.taboola-placeholder,#top-ad,#credential_picker_container,#credentials-picker-container,#credential_picker_iframe,[id*='google-one-tap-iframe'],#google-one-tap-popup-container,.google-one-tap__module,.google-one-tap-modal-div,#amp_floatingAdDiv,#ez-content-blocker-container) {display:none!important;min-height:0!important;height:0!important;}</style><script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script></head>


<body>
    <div id="centerwrap">
        <header>



        </header>
    </div>

    <main>
        <div id="leftcol">
        
          
<br><br>


<img src="https://friendshipradio.rodeo/soon.png" style="max-width:90%">


<div id="rightcol">






          
            </div>

    </main>

 <footer>
       
  <div class="marquee-container mobile-only">
                <div class="marquee-inner">
                    <div class="marquee">
<p>
......................................................................................................................................................................</p>
                    </div>
                </div>
    </div>


                    
    </footer>

</body></html>
